/*Reset CSS*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Poppins', sans-serif;
}
html, body {
	height: 100%;
	background-color: #fcfcfc;
}
.clear {
	clear: both;
}
header {
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: white;
	-webkit-box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.07);
	box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.07);
	z-index: 99999;
}
nav{
	width: 90%;
	height: 100%;
	background: white;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
nav .logo {
	float: left;
	font-weight: 900;
	font-size: 30px;
	position: relative;
	top: 8px;
}
nav ul {
	float: right;
}
nav ul li  {
	display: inline-block;
	position: relative;
	top: 18px;
}
nav ul li a {
	color: black;
	font-size:13px;
	padding-right: 5px;
}
nav ul li a:hover {
	color: #686868;
}
nav ul .active {
	border: 1px solid black;
	padding: 1px 15px;
	padding-left: 18px;
}
nav ul .active:hover {
	border: 1px solid #686868;
}
.section_one {
	width: 100%;
	height: 400px;
}
.layer {
	width: 100%;
	height: 400px;
	position: absolute;
	background-color: rgba(20,4,94,0.1);
	top: 60px;
	z-index: 2;
}
.bg_header {
	width: 50%;
	height: 100%;
	position: relative;
	top: 60px;
	background-image: url('../images/bg_header.jpg');
	background-size: cover;
	float: left;
}
.titles {
	width: 100%;
	height: 100%;
	top: 150px;
	position: absolute;
	z-index: 3;
}
.titles h1 {
	font-size:15px;
	font-weight: lighter;
	text-align: center;
}
.titles h2 {
	font-size:30px;
	font-weight: 800;
	text-align: center;
}
.titles button {
	text-align: center;
	border-style: none;
	background-color: transparent;
	border: 2px solid black;
	padding: 3px 40px;
	font-size: 30px;
	font-weight: 900;
	position: relative;
	top: 20px;
	outline: none;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}
section.two {
	width: 100%;
	height: auto;
	padding: 30px 0;
	background-color: #f0f0f0;
	position: relative;
	top: 60px;
	z-index: 999;
}
section.two .container {
	background: #f0f0f0;
	height: 100%;
	width: 91.5%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.title_jobs {
	font-size: 18px;
	font-weight: 700;
	padding: 40px 13px;
}
.jobs {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}
.jobs .box {
	width: 23%;
	height: 208px;
	background-color: #f0f0f0;
	transition: 0.6s;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
	cursor: pointer;
}
.jobs .box:hover {
	background-color: black;
	-webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.12);
}
.jobs .box img{
	width: 100%;
	overflow: hidden;
	height: 100%;
}
.details {
	width: 50%;
	position: relative;
	left: 51%;
	transform: translateX(-50%);
	height: 200px;
	display: flex;
	justify-content: space-around;
	top: 60px;
}
.details h3 {
	font-size: 14px;
	font-weight: lighter;
	text-align: center;
}
.icon_details {
	overflow: hidden;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	-webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.13);
	box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.13);
	background-color: white;
	position: relative;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}
.icon_details img {
	width: 34px;
	height: 34px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.quant_project span, .quant_cup span  {
	font-size: 23px;
	font-weight: 900;
	position: relative;
	text-align: center;
	display:block;
	top: 27px;
}
section.about {
	width: 100%;
	height: auto;
	position: relative;
	padding: 10px 0;
	padding-bottom: 90px;
	top: 60px;
	background-color: #f9f9f9;
}
.img-about {
	width: 100%;
	background-color: #f9f9f9;
}
.img-about img {
	position: relative;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}
.line_button {
	width: 1px;
	height: 300px;
	background-color: #2a2a2a;
	position: relative;
	top: 10px;
}
.text {
	width: 90%;
	top: 20px;
	position: relative;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}
.design_text {
	width: 50%;
	height: auto;
	text-align: right;
	padding: 0px 40px;
	font-weight: lighter;
	font-size: 14px;
	padding-bottom: 30px;
	line-height: 2;
}
.front_text {
	width: 50%;
	height: auto;
	text-align: left;
	padding: 0px 40px;
	font-weight: lighter;
	font-size: 14px;
	padding-bottom: 30px;
	line-height: 2;
}
.download button:hover {
	color: #686868;
}
.download button{
	text-align: center;
	border-style: none;
	background-color: transparent;
	border: 1px solid black;
	padding: 3px 40px;
	transition: 0.6s;
	font-size: 14px;
	font-weight: 300;
	position: relative;
	top: 50px;
	outline: none;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}
footer {
	width: 100%;
	height: 60px;
	position: relative;
	top: 70px;
	background-color: #121111;
}
footer .redes {
	width:33.33%;
	height: 100%;
	float: left;
}
footer .redes .icon {
	width: 30px;
	overflow: hidden;
	height: 30px;
	border-radius: 100%;
	float: left;
	margin-left: 10px;
	position: relative;
	top: 16px;
	background-color: white;
}
footer .redes .icon  img {
	position: relative;
	left: 50%;
	top: 50%;
	width: 60%;
	height: 60%;
	transform: translate(-50%,-50%);
}
footer .email h6{
	float: right;
	color: white;
	font-weight: lighter;
	font-size: 13px;
	padding-right: 18px;
	position: relative;
	top: 20px;
}
footer .email span {
	font-weight: 700;
	font-size: 15px;
}

